body{
	color: white;
	background-color: black;
	margin: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	font-family: 'Ubuntu', 'Open Sans Condensed';
}
.element{
    margin: 3px;
	white-space: pre-line;
    display: inline;
}
input{
    font-family: 'Open Sans Condensed';
    margin: 1px;
}
input:focus{
	outline: none;
	border: 1px solid white;
	box-shadow: 0 0 4px;
}
@media (min-width: 1280px){
    .relax{
        position: relative;
        margin-top: 20%;
    }
}
@media (max-width: 1280px){
    .relax{
        position: relative;
        margin-top: 40%;
        font
    }
}
@media (max-width: 768px){
    .relax{
        position: relative;
        margin-top: 50%;
    }
}
