*{
    margin: 0 auto;
    padding: 0;
}
.glimpse{
    max-width: 22%;
    height: auto;
    opacity:0;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1280px) {
    body {
        background-color: #000000;
        text-align: center;
        font-size: 1.5em;
    }
    .glimpse{
	position: fixed;
	margin-left: 46%;
    }

    div.header{
        opacity:0;
    }

    .header h1.wtf {
        position: relative;
        opacity: 1;
        color: #ffffff;
        font-family: 'Ubuntu', 'Open Sans Condensed';
        line-height: 80%;
        font-size: 3em;
    }

    ul.apps {
        opacity: 1;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.75em;
    }

    li {
        display: inline;
    }

    .header a{
        text-decoration: none;
        color: #DADADA;
        display: inline;
    }

    .content{
        position: relative;
        text-align: left;
        opacity: 0;
        display: inline-block;
        width: 80%;
        height: 100%;
    }
    .me{
        display: inline;
        font-family: 'Ubuntu', 'Open Sans Condensed';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
    span{
        white-space: pre-line;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
}

@media (max-width: 600px){
    body {
        background-color: #000000;
        text-align: center;
        font-size: 1.5em;
    }

    div.header{
        opacity:0;
    }
    .glimpse{
        position: fixed;
        margin-left: 26%;
	margin-top: 5%;
    }


    .header h1.wtf {
        position: relative;
        opacity: 1;
        color: #ffffff;
        font-family: 'Ubuntu', 'Open Sans Condensed';
        line-height: 80%;
        font-size: 3em;
    }

    ul.apps {
        opacity: 1;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.75em;
    }

    li {
        display: inline;
    }

    .header a{
        text-decoration: none;
        color: #DADADA;
        display: inline;
    }

    .content{
        position: relative;
        text-align: left;
        opacity: 0;
        display: inline-block;
        width: 80%;
        height: 100%;
    }
    .me{
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
    span{
        white-space: pre-line;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
}

@media (max-width: 1280px){
	
    body {
        background-color: #000000;
        text-align: center;
        font-size: 1.5em;
    }
    .glimpse{
        position: fixed;
        margin-left: 46%;
    }
 
    div.header{
        opacity:0;
    }

    .header h1.wtf {
        position: relative;
        opacity: 1;
        color: #ffffff;
        font-family: 'Ubuntu', 'Open Sans Condensed';
        line-height: 80%;
        font-size: 3em;
    }

    ul.apps {
        opacity: 1;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.75em;
    }

    li {
        display: inline;
    }

    .header a{
        text-decoration: none;
        color: #DADADA;
        display: inline;
    }

    .content{
        position: relative;
        text-align: left;
        opacity: 0;
        display: inline-block;
        width: 80%;
        height: 100%;
    }
    .me{
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
    span{
        white-space: pre-line;
        display: inline;
        font-family: 'Open Sans Condensed', 'Ubuntu';
        font-size: 0.5em;
        color: #ffffff;
        margin: 0 0 0 0;
    }
}




