<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="futureme email time capsule letters future public anonymous what will you say to your future self whos the future me futuristic answer wtf who is politics democracy communism">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="{{ url_for( 'static', filename='js/typed.js' ) }}"></script>
	<script src="{{ url_for('static', filename='js/inputs.js') }}" type="text/javascript"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js' )}}" type="text/javascript"></script>
	<title>WTF</title>
	<link rel="icon" type="ico" href="{{url_for('static', filename='$.ico.png')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for( 'static' , filename='css/bootstrap.min.css' )}}">
	<link rel="stylesheet" type="text/css" href="{{url_for( 'static', filename='css/inputs.css' )}}">
</head>

<body>
	<div class="container-fluid">

			{% for x in firstmessages %}
			<div class="row" id="{{x}}">
			<button type="button" class="btn btn-default" onclick="editFirstMessage({{x}})"><span  class="glyphicon glyphicon-{{firstmessages[x]['icon']}}" aria-hidden="true"></span>{{x}}</button>
			<form class="form-inline hidden">
				<div >
					<input type="text" id="header" style="width:100%;height:10%;" placeholder="{{firstmessages[x]['header']}}" class="form-control" />
				</div>
				<div >
					<input type="text" id="body" style="width:100%;height:10%;" name="body{{x}}" class="form-control" placeholder="{{firstmessages[x]['body']}}" />
				</div>
				<button type="button" style="width:40%;margin-left:30%;height:10%;" onclick="submitNewFirstMessage(this, {{firstmessages[x]['number']}},this.parentNode.parentNode)"><span  class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
			</form>
			</div>
			{% endfor %}
			<button type="button" class="btn btn-default" onclick="editFirstMessage(document.getElementById('addnew'))"><span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>Addnew</button>
			<div class="row" id="addnew">
				<form class="form-inline hidden">
					<div >
						<input type="text" id="name" style="margin-left:25%;width:50%;height:10%;" placeholder="name" class="form-control" />
					</div>
					<div >
						<input type="text" id="header" style="width:100%;height:10%;" placeholder="header" class="form-control" />
					</div>
					<div >
						<input type="text" id="body" style="width:100%;height:10%;" name="body" class="form-control" placeholder="body" />
					</div>
					<div >
						<input type="text" id="icon" style="width:100%;height:10%;" name="icon" class="form-control" placeholder="icon" />
					</div>
					<button type="button" style="width:40%;margin-left:30%;height:10%;" onclick="submitNewFirstMessage(this)"><span  class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
				</form>

			</div>



	</div>
</body>

</html>
