<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/cute.css">
		<link rel="stylesheet" type="text/css" href="../static/css/buttons.css">
		<link rel="icon" type="ico" href="../static/$.ico.png">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700" rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="../static/js/typed.js"></script>
		<script type="text/javascript" src="../static/js/cute.js"></script>
		<title>we</title>
	</head>
	<body>
		<div class="relax">
			<span class="element"></span>
		</div>
	</body>
</html>
