<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../static/js/main.js" type="text/javascript"></script>
    <title>ME + YOU</title>
    <link rel="icon" type="ico" href="../static/$.ico.png">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<div id="shadow" class="shadow"><img class="main" id="icon" src="../static/$.png" onclick="myFunc()"></div>
</body>
</html>
