<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kia Ora.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/kiwiland.css">
    <link rel="icon" type="ico" href="../static/$.ico.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../static/js/kiwiland.js" type="text/javascript"></script>
</head>
<body>
    <div class="header">
            <h1 class="wtf">WTF</h1>
    </div>
    <div class="content">
	<p id="rant">New Zealand.<br>
	We have always been quite a progressive and well-off country. <br>
	However we are approaching an interesting and very important time. <br>
	Were we will get to decide as a nation whether we want to keep allowing our nation to remain unbalanced, and to tilt out of balance further. <br>
	Or whether we will use the technology and power we are given to create a more equal and just country for all of it's inhabitants.
	<br><br>
	Next year is our year of election.<br>
	I believe we as a citizens will be given an important choice.<br>
	Were we can choose to keep our governing body standard. Which will most likely result in Mr Key remaining as prime minister for his fourth term.<br>
	Or I believe we can exhibit our progressive thinking in the way we elect our next government, and what that government's goals shall be.<br>
	We as a country that shares no borders and has a potential to allow all residents to have a high standard of living should be discussing some important points for our next term so that we as the citizens get the most out of our government.<br><br>
	</p>
	<ul id="myfirstpoints">
		<li>Taxes and living wages</li>
		<li>Sustainability with our imports & exports</li>
		<li>Rules & regulations of land use for commercial industry</li>
		<li>More freedom & less routine</li>
	</ul>
	<p id="ranting">
		These are a few areas that come to my mind in which we could improve in greatly which i believe would make a healthier and happier nation.<br>
		<br>
		We are seeing a growing gap between rich and poor.<br> I think whats more devastating than the growing gap is the fact there is a gap.<br>
		We should aim to have everyone as equals, in reality however this is a hard goal to achieve. Due to everyone's difficulties in their own lives.<br>
		However how can we start walking down this path to equality.<br>
		I think we should be splitting our time better between compulsory work, leisure and education.<br>
		I believe in a modern society the individual should be able to choose how they spend these times of work, leisure and education. But everyone should complete them.<br>
		I also believe we should aim to be more self-sufficient individuals which could remove our need for mass farming and the degrading of our environment and ecosystem.<br>
		I think it should be our next governments job to lower the power of large organisations that mainly exist to produce profit, and give the power back to the everyday individual to manage their own life in a way they see fit.<br>
		Any individuals that feel unfit should be given the attention they require so they can go on to be happy and fulfilled in our modern world.<br>
	</p>
		<br><h4 id="now">Now is time where we need to show our progressiveness as a nation, and vocalize the way we want to live our lives.<br>Before it's to late...</h4>
    </div>
</body>
</html>
