<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/plan.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="../static/js/typed.js"></script>
    <script src="../static/js/plan.js" type="text/javascript"></script>
</head>
<body>
	<p>
		New Zealand, 
		I would like in 5 years, to have established a form of localized currency. This currency would hopefully be 
		able to be redistributed in a way similar to that of a living wage. But then the question how would people work, make 
		products and serve?

		I remember as a child in school, even now some of my favourite times have been learning new skills and honing already
		learnt ones.

		Why can't society incorporate a way for us to always be using and acquiring skills we enjoy time doing? I believe we can 
		place some accoutability on our government(s) and role models. But we still as a society have lacked a clear path aswell
		as individually. We all undergo stints of sorrow, remorse and sadness. However we have failed to unite, learn and understand		    how to live coporatively and sustainably. This is making us weaker and weaker. A single species. Floating on small planet.
		In some vastness of what we believe to be infinite space?
		
		As humanity and all other species we are proclaimed in an adventure to journey into the unknown, smartly. But most of all to 		    feel the effects of comforts and spending our time doing what we want to be doing. 

		How we in New Zealand could try and search for an optimal way to enter the unknown in finding a better way of coexisting 		    separately:

				The stage is set.
	
				Education 
				Leisure
				Endowment
				Communication
				Economic Goals
					-Imports
					-Exports
					-Tourism
				Immigration
				Goals for Auckland City.	
		
		
	</p>
<body>
</html>
